Source: python3-sipsimple
Section: python
Priority: optional
Maintainer: Adrian Georgescu <ag@ag-projects.com>
Uploaders: Tijmen de Mes <tijmen@ag-projects.com>
Build-Depends: debhelper (>= 11), python3,
               dh-python,
               python3-all-dev,
               cython3,
               libasound2-dev,
               libssl-dev,
               libv4l-dev,
               libavcodec-dev,
               libavformat-dev,
               libopencore-amrnb-dev,
               libopencore-amrwb-dev,
               libavutil-dev,
               libswscale-dev,
               libx264-dev,
               libvpx-dev,
               libopus-dev,
               libsqlite3-dev,
               pkg-config,
               uuid-dev
Standards-Version: 4.5.0
Homepage: https://sipsimpleclient.org

Package: python3-sipsimple
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends},
         python3-application,
         python3-dateutil,
         python3-dnspython,
         python3-eventlib,
         python3-gevent,
         python3-gnutls,
         python3-lxml,
         python3-msrplib,
         python3-otr,
         python3-twisted,
         python3-xcaplib
Suggests: libavahi-compat-libdnssd1
Provides: ${python3:Provides}
Description: SIP SIMPLE SDK is a Python library for desktop operating
 systems designed for the development of real time communications
 applications based on SIP protocol and related media like audio, video,
 messaging, file transfers, desktop sharing and presence.
